.home {
  background-color: #24247c;
  max-height: max-content;
}

.numpad__container {
  width: 750px;
  height: 235px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.num__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num__element {
  border-color: black;
  padding: 5 5 5 5;
  background-color: #247c71;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  line-height: 50px;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.buttons p {
  color: white;
}

.buttons > button {
  background-color: white;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 20px;
}
