.numpad__container {
  width: 750px;
  height: 235px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  box-shadow: 10px 5px 5px #247c71;
  margin-top: 100px;
  border-color: #247c71;
}

.num__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num__element {
  border-color: black;
  padding: 5 5 5 5;
  background-color: #247c71;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  line-height: 50px;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.buttons p {
  color: black;
}

.buttons > button {
  background-color: white;
  cursor: pointer;
  width: 120px;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.price p {
  font-size: 30px;
}

.price img {
  width: 30px;
  height: 30px;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

.ct__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.countdown {
  font-size: 50px;
  text-align: center;
}