.home {
  justify-content: center;
}

.numpad__container {
  width: 670px;
  height: 400px;
  background-color: bisque;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#keyboard {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
}
#keyboard li {
  float: left;
  /* text-align: center; */
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
  background: #fff;
  border: 1px solid red;
  border-radius: 25px;
  color: red;
  cursor: pointer;
}

.clearl {
  clear: left;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.buttons > button {
  background-color: aqua;
  cursor: pointer;
  width: 100px;
  height: 40px;
}
